* {
  font-family: Helvetica;
}

body {
  font-family: sans-serif;
  background-image: url('sky.png'), url('grass.png'), url('dirt.png');
  background-position: center center;
  background-size: 100% 100%;
}

.slider-p {
  color: #abbba0;
  font-size: 20px !important;
}

p {
  font-size: 30px;
}
h4 {
  font-size: 40px;
}

heading {
  padding-top 15%;
}

#header-ferret {
  float: left;
  max-width: 35%;
  height: auto;
  padding-left: 10%;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity:1}
}

#title {
  display: flex;
  padding-top: 11%;
  padding-left: 10%;
}

#header-text {
  padding-left: 10%;
  display: flex;
  padding-right: 10%;
  animation: fadeIn 2s;
}

.parallax {
  /* The image used */
  background-image: url("grass.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#definition {
  clear: both;
  margin: auto;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 130px;
  padding-bottom: 80px;
}

#early {
  margin: auto;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 130px;
}

#sliders {
  padding-right: 30%;
  padding-left: 30%;
  background-image: url('grass.png');
}

#graph {
  padding-right: 10%;
  padding-left: 10%;
}

#explanation {
  clear: both;
  margin: auto;
  text-align: center;
}

#descr {
  padding-right: 10%;
  padding-left: 10%;
  color: #abbba0;
}

#slider {
  size: 80px;
}

#tips {
  clear: both;
  margin: auto;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 130px;
  color: #abbba0;
}

#visualize {
  color: #abbba0;
  font-size: 50px !important;
}

#tipsheading {
  font-size: 50px !important;
}

#ferret-ages {
  clear: both;
  margin: auto;
  text-align: center;
  height: auto;
  padding-bottom: 120px;
}

.ageimg {
  max-width: 23%;
}

#definition-ferret {
  width: 30%;
}

#leftimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 200px;
}

#explanation {
  padding-right: 12%;
  padding-left: 12%;
}